{% extends 'default.html' %}

{% load my_filters %}

{% block title %}
    {{ category.name }}
{% endblock title %}

{% block content %}
    <h1>{{ Category.name }}</h1>
        <p><b>Автор:</b> {{ post.author.authorUser }} <b>Рейтинг автора:</b> {{ post.author.ratingAuthor }}</p>
        <p><b>Дата публикации:</b> {{ post.dateCreation|date:'d M Y, H:i'}},
        {% for cat in post.postCategory.all %}
         <b>Рубрики: </b>{{ cat }}</p>
        {% endfor %}
        <p>{{ post.text|Censor }}</p>
        <p>Рейтинг: {{ post.rating }}</p>
        <p>{{ post.Comment.text }}</p>

{% endblock content %}