{% extends 'default.html' %}

{% load my_filters %}

{% block title %}
Поиск
{% endblock title %}

{% block content %}
    <hr>
    <form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
    </form>
    <hr>

    {% for post in search %}

        <h1><a href="{% url 'post' post.id %}">{{ post.title }}</a></h1>

            <h4>{{  post.author.authorUser }}</h4>

            <h4>{{  post.PostCategory }}</h4>


        <h5>{{ post.dateCreation| date:'d M Y' }} , {{ post.dateCreation| time }}</h5>
        <hr>
        {% empty %}
            <h1>Ничего не найдено</h1>

    {% endfor %}
    {% if is_paginated %}
            {% if page_obj.has_previous %}
            <a href="?page=1">Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% endif %}
    {% endif %}
{% endblock content %}